*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  gap: 40px;
}

.page-wrapper .title{
  font-size:40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 505px;
  width: 405px;
  border: black solid 2px;
}

.button{
  height: 80px;
  width: 100px;
  border-radius: 10px;
}

.calculator-display{
  display:flex;
  height: 100px;
  width: 400px;
  padding: 5px;
  border: black solid 5px;
  font-size: 60px;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}